body {
    background-color: #4B9CD3; 
    color: #ffffff;
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
}

#container {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 700px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 36px;
    margin-bottom: 10px; 
}

p {
    position: absolute;
    top: 110px; 
    left: 20px;
    width: 600px; 
    margin-bottom: 60px; 
}

ul {
    list-style-type: none;
    padding: 0;
    position: absolute;
    top: 180px; 
    left: 20px;
    width: 300px;
}

li {
    margin-bottom: 10px;
}

a {
    color: #FFD700;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#image {
    position: absolute;
    top: 160px; 
    right: 20px;
    width: 450px; 
}

#image img {
    max-width: 100%;
    height: auto;
}
